html{
    text-align:center;
    font-family:Montserrat;
    background-color:#eef4fb;
    color:darkblue;
    padding: 1.5em;
}


.parentOfUl{ 
    text-align:center;} 


.centered { 
    text-align: center; 
    list-style-position:inside;
}

ul{ display:inline-block; 
}

li{ 
    line-height:30px;
    text-align:center; 
}

h2{
    display: block; 
    font-size: 2em; 
    margin-top: .5em;
}

img{
    width:100%;
}


p{
    font:none small-caps 600 1.5em/30px Montserrat, serif;
}

figcaption{
    text-align:center;
    text-transform:italic;
    color:rgb(2, 2, 118);
    font-family:Oswald;
    font-size:130%;
}


q{
    color:blue;
    text-shadow: 2px 2px lightskyblue;
    text-align:center;
    font-weight:600;
    font-style:italic;
    line-height: 24px;
}


blockquote{
    color:lightskyblue;
    text-align:center;
    text-decoration:underline;
    font-size:20px;
}


a:visited{
    color:blue;
}

a:focus{
    color:aqua;
}

a.one:hover{
    color:rgb(19, 117, 173);
    text-decoration:none;
}

section {
    padding: 1em 0;
    color:darkblue;
  }